<div>
    <b>Argumentos de entrada</b>
    <label>{{info.argv}}</label>
</div>
<div>
    <b>Plataforma</b>
    <label>{{info.platform}}</label>
</div>
<div>
    <b>Node Version</b>
    <label>{{info.nodeVersion}}</label>
</div>
<div>
    <b>Uso de Memoria</b>
    <label>{{info.memoryUsage}}</label>
</div>
<div>
    <b>Path de ejecucion</b>
    <label>{{info.pathExect}}</label>
</div>
<div>
    <b>ID Proceso</b>
    <label>{{info.processID}}</label>
</div>
<div>
    <b>Carpeta</b>
    <label>{{info.folder}}</label>
</div>
<div>
    <b>CPUS NUM</b>
    <label>{{info.cpus}}</label>
</div>